.layout-cabeca {
	/*background-color: #F5F3EE;*/
	background: url("../imagens/background-tag.jpg") repeat top center;
}

@media (min-width: 768px) {
	.layout-cabeca {
		background: url("../imagens/background-tag.jpg") no-repeat left;
	}
}

.layout-apresentacao {
	padding-top: 50px;
}

.layout-about {
	margin-top: 50px;
	padding: 60px 15px; 
	background-color: #74AFAD;
}