.layout-cabeca {
	background: url("../imagens/background-tag.jpg") repeat top center;
}

@media (max-width: 768px) {
	.layout-cabeca {
		width: 100%;
		margin-top: 0;
		
		position: fixed;
		z-index: 9999;
	}

	#pagina-principal {
		background: url("../imagens/cidade.jpg") center;
	}
}

@media (min-width: 992px) {
	.layout-cabeca {
		background: url("../imagens/background-tag.jpg") no-repeat left;
	}
	
	#pagina-principal {
		background: url("../imagens/cidade-notebook-bg.png") top;
	}
}

@media (min-width: 1615px) {
	.layout-cabeca {
		background: url("../imagens/background-tag.jpg") no-repeat left;
	}
	
	#pagina-principal {
		background: url("../imagens/cidade.jpg") center;
	}
}


.layout-about {
	padding: 60px 15px; 
	
	background-color: #74AFAD;
}

.layout-projetos {
	padding: 60px 0;

	background-color: #CCC;

	font-size: 1.8rem; /*Fonte nesse div é de 18px iniciais*/
}

.layout-rodape {
	background-color: rgba(92, 156, 171, 0.9);
}
