/*******************\
 GLOBAL
\*******************/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}





/*******************\
 CABEÇA
\*******************/
.cabeca__titulo {
  font-family: 'Bungee Inline', cursive;
  font-size: 3.3em;
  

  color: white;
}

@media (max-width: 991px) {
  .cabeca__titulo {
    float: left;
    font-size: 2.3em;
  }
}

@media (max-width: 342px) {
  .cabeca__titulo {
    float: left;
    font-size: 1.9em;
  }
}


/*******************\
 BOTÃO DE NAVEGAÇÃO
\*******************/
.botao-chaveador {
  padding-top: 8px;
  background: none;
  border: 0;

  outline: none;
}

/* SÓ MOSTRA O BOTÃO ATÉ TABLETS*/
@media(min-width: 992px) {
  .botao-chaveador {
    display: none;
  }
}

/* MANDA O BOTÃO DO MENU PARA A DIREITA*/
.navegacao__menu {
  float: right;
}


/*******************\
 MENU DE NAVEGAÇÃO
\*******************/
.menu {
  margin-top: 15px;
  margin-left: -40px;

  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;

  list-style: none;
}

@media(max-width: 991px) {
  .menu {
    position: fixed;
    z-index: 900;
    top: 60px;
    right: 1px;
    bottom: 0;

    display: none;
    height: 185px;
    width: 140px;
    margin: 0;
    padding-left: 10px;

    background-color: rgba(92, 156, 171, 0.9);
    color: white;

    font-size: 0.9em;
    text-align: justify;

    list-style: none;
  }

  .menu--curriculo {
    width: 170px;
    height: 120px;
  }

  .menu__item{
    display: block;

    font-size: 1.5rem;
    line-height: 2.5;

    list-style: none;

    color: white;
  }

  .menu--exibindo {
    display: block;
  }

  .js-fechar {
    display: none;
  }
}

@media(min-width: 992px) {
  .menu__item {
    display: inline-block;
    padding: 0 7px 5px 7px;
  }

  .menu__botao:hover, .menu__botao:focus, .menu__botao--links:hover, .menu__botao--links:focus {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
  }

  .menu__item--linguagem {
    float: right;
  }
}

.menu__botao, .menu__botao--links {
  text-decoration: none;
  color: white;

  padding-bottom: 10px;
}





/*******************\
 APRESENTAÇÃO
\*******************/
.apresentacao__principal {
  letter-spacing: 0.05em;
  font-size: 7.4rem;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;

  color: white;
}
    
.apresentacao__texto {
  padding-top: 10px;

  letter-spacing: 0.05em;
  font-size: 2.5rem;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;

  color: white;
}

@media(max-width: 767px) {
  .apresentacao__principal {
    font-size: 4.9rem;
  }

  .apresentacao__principal--br {
    font-size: 4.5rem;
  }

  .apresentacao__texto {
    font-size: 1.25em;
  }

}

.apresentacao__start--botao {
  color: black;
}

@media(max-width: 768px) {
  .apresentacao__principal  {
    margin-top: 110px;
  }
}





/*******************\
 PROFILE
\*******************/

/* Tablets e celulares */
.img-perfil {
  padding-bottom: 35px;
}

.profile-conteudo {
  padding: 40px 10px 25px 10px;
  background-color: #CCC;
}

.quote-mark {
  position: relative;
  top: -25px;
}

/* Tablets e celulares */
.apresentacao__pergunta-quem {
  font-size: 3.5rem;
  font-family: 'Griffy', cursive;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.apresentacao__pergunta-quem::after {
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  border-radius: 5px;
  background-color: currentColor;
  margin: 5px auto 25px auto;
}


.apresentacao__resposta-quem {
  padding: 1px;

  line-height: 1.4em;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  text-align: center;

  color: black;
}

.botao-cursos {
  color: white;
}

/* Notebooks pra cima */
@media(min-width: 992px) {
  .apresentacao__resposta-quem {
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 20px;

    font-size: 1.7rem;
    text-align: left;
  }

  .lista-cursos {
    font-size: 1.8rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;

    color: white;
  }

  .apresentacao__pergunta-quem {
    font-size: 4.2rem;
  }

  .profile-conteudo {
    padding: 40px 35px 25px 35px;
  }
}

.botao-texto {
  color: black;
  font-weight: bolder;
  border-bottom: 1px solid black;
}

.botao-texto:hover, .botao-texto:focus {
  text-decoration: none;
  color: green;
  border-bottom: none;
}

.profile__rodape {
  margin-top: 30px;
  padding: 10px 10px 0 10px;

  font-family: 'Raleway', monospace;
  font-size: 1.6rem;
  text-align: left;

  background-color: #a9a9a9;
}

.profile__list {
  padding-bottom: 10px;

  font-weight: bold;

  color: green;
}

.profile__link, .profile__link--curriculo {
  color: green;
}

.profile__link--email  {
  color: blue;
  font-weight: normal;
}

/*******************\
 CURSOS
\*******************/
.apresentacao__cursos {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Handlee', monospace;

  letter-spacing: 0.1em;

  color: white;
}

.apresentacao__cursos::after {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  border-radius: 5px;
  background-color: currentColor;
  margin: 5px 0 25px 0;
}

.lista-cursos {
  text-align: left;

  font-size: 1.6rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;

  color: white;
}

.lista-cursos__unidade {
  text-align: left;
  padding: 4px 0;
}

.lista-cursos__unidade > i {
  color: yellow;
}

.lista-cursos__unidade::after {
    content: "";
    display: block;

    width: 20px;
    margin: 10px -20px;

    border: 1px solid darkMagenta;
  }

@media (min-width: 992px) {
  .lista-cursos {
    font-size: 1.9rem;
    font-family: 'Roboto Mono', monospace;
  }
}


/*******************\
 SKILLS
\*******************/
.cursos-skillset {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.cursos-skillset::after {
    content: "";
    width: 20px;
    display: block;

    margin: 20px auto 20px auto;
    border: 1px solid green;
}

@media (max-width: 768px) {
  .cursos-skillset--br {
    font-size: 1.8em;
  }

}


.cursos-skillset__titulo {
  font-size: 1.5em;
  font-family: "Comfortaa", Helvetica, sans-serif;

}

.cursos-skillset__unidade {
  font-family: "Sniglet", Helvetica, sans-serif;
  font-size: 1.2em;
}


/*******************\
 PROJETOS
\*******************/
.projetos__titulo {
  font-size: 2em;
  font-family: 'Sniglet', Helvetica, sans-serif;
  
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.projeto-unidade {
  padding-top: 40px;
}

@media (min-width: 992px) {
  .projeto-unidade {
    width: 60%;
    margin: 0 auto;
  }
}

.projeto-unidade__titulo {
  font-size: 1.6em;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
}

.projeto-unidade__descricao {
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
}

.projeto-unidade--bom, .projeto-unidade--ruim {
  font-size: 1.1em;
  font-family: ;
}

.projeto-unidade--bom {
  color: green;
}

.projeto-unidade--ruim {
  color: red;
}

.projeto-unidade__qualidade-paragrafo {
  font-size: 0.9em;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.link_repositorio {
  font-size: 0.8em;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.link_repositorio:hover, .link_repositorio:focus {
  font-size: 1em;
  text-decoration: none;
  color: green;
}

.anime {
  opacity: 0;
  /*O transform -100px faz o elemento surgir da esquerda para direita*/
  transform: translate3d(-100px,0,0);
  transition: .7s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0,0,0);
}


/*******************\
 BOTÃO-TOPO
\*******************/
.botao-topo {
  padding: 0;
  display: block;
  margin-top: 50px;
  margin-bottom: 0;
}

.botao-topo:hover, .botao-topo:focus {
  text-decoration: none;
  color: green;
}

/*******************\
 RODAPÉ
\*******************/
.rodape__principal, .rodape__linguagem, .rodape__contact-me {
  padding: 15px 0 0 0;

  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.15em;
  text-decoration: none;

  color: white;
}

.rodape__linguagem > a {
  font-weight: bold;
  color: green;
}


.rodape__contact-me::after {
  content: "";
  width: 25px;
  display: block;

  margin: 10px auto;

  border: 1px solid white;
  
}

.links__unidade {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;

    color: white;
}

.links__unidade:hover, .links__unidade:focus {
  transition-duration: 0.5s;
  text-decoration: none;
  color: green;
}

