body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}



/*******************\
 CABEÇA
\*******************/
.cabeca__titulo {
  font-family: 'Bungee Inline', cursive;
  font-size: 3.3em;
  

  color: white;
}

@media (max-width: 991px) {
  .cabeca__titulo {
    float: left;
    font-size: 2.3em;
  }
}

@media (max-width: 342px) {
  .cabeca__titulo {
    float: left;
    font-size: 1.9em;
  }
}


/*******************\
 BOTÃO DE NAVEGAÇÃO
\*******************/
.botao-chaveador {
  padding-top: 8px;
  background: none;
  border: 0;

  outline: none;
}

/* SÓ MOSTRA O BOTÃO ATÉ TABLETS*/
@media(min-width: 992px) {
  .botao-chaveador {
    display: none;
  }
}

/* MANDA O BOTÃO DO MENU PARA A DIREITA*/
.navegacao__menu {
  float: right;
}


/*******************\
 MENU DE NAVEGAÇÃO
\*******************/
.menu {
  margin-top: 15px;
  margin-left: -40px;

  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;

  list-style: none;
}

@media(max-width: 991px) {
  .menu {
    position: fixed;
    z-index: 900;
    top: 60px;
    right: 0;
    bottom: 0;

    display: none;
    height: 120px;
    width: 150px;
    margin: 0;

    border: 2px solid #eee;

    background-color: black;
    color: white;

    font-size: 1.4rem;
    text-align: left;

    list-style: none;
  }

  .menu__item{
    display: block;

    font-size: 1.5rem;
    line-height: 2.5;

    list-style: none;

    color: white;
  }

  .menu--exibindo {
    display: block;
  }

  .menu__botao:hover, .menu__botao:focus {
    text-decoration: none;
    color: green;
  }
}

@media(min-width: 992px) {
  .menu__item {
    display: inline-block;
    padding: 0 10px 5px 10px;
  }

  .menu__botao--right {
    padding-right: 0;
  }

  .menu__botao:hover, .menu__botao:focus {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
  }
}

.menu__botao {
  text-decoration: none;
  color: white;

  padding-bottom: 10px;
}


.btn-danger {
  font-size: 1.05em;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
}



/*******************\
 APRESENTAÇÃO
\*******************/
.apresentacao__principal {
  letter-spacing: 0.05em;
  font-size: 2.7rem;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;

  color: black;
}

@media(max-width: 767px) {
  .apresentacao__principal  {
    margin-top: 50px;
  }
}

.links {
  padding-top: 25px;
}

.links__unidade {
    margin-top: 45px;

    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 2.5rem;
}

.links__unidade:hover, .links__unidade:focus {
  text-decoration: none;
  color: #ec33ff;
}

/*******************\
 QUEM???
\*******************/
.apresentacao__pergunta-quem {
  font-size: 2.8rem;
  font-family: 'Sniglet', Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.apresentacao__resposta-quem {
  line-height: 1.7em;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;

  color: white;
}


@media(min-width: 992px) {
  .apresentacao__resposta-quem {
    padding-right: 15px;
    padding-left: 10px;

    text-align: justify;
  }
}

.botao-texto {
  color: black;
  font-weight: bolder;
  border-bottom: 1px solid black;
}

.botao-texto:hover, .botao-texto:focus {
  text-decoration: none;
  color: green;
  border-bottom: none;
}

@media (min-width: 992px) {
  .who {
    border-right: 1px solid white;
  }
}


/*******************\
 CURSOS
\*******************/
.lista-cursos {
  font-size: 1.8rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;

  color: white;
}

.lista-cursos > li {
  padding: 4px 0;
}

/*******************\
 PROJETOS
\*******************/
.projetos__titulo {
  font-size: 2em;
  font-family: 'Sniglet', Helvetica, sans-serif;
  
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.projeto-unidade {
  padding-top: 40px;
}

@media (min-width: 992px) {
  .projeto-unidade {
    width: 60%;
    margin: 0 auto;
  }
}

.projeto-unidade__titulo {
  font-size: 1.6em;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
}

.projeto-unidade__descricao {
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
}

.projeto-unidade--bom, .projeto-unidade--ruim {
  font-size: 1.1em;
  font-family: ;
}

.projeto-unidade--bom {
  color: green;
}

.projeto-unidade--ruim {
  color: red;
}

.projeto-unidade__qualidade-paragrafo {
  font-size: 0.9em;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.link_repositorio {
  font-size: 0.8em;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.link_repositorio:hover, .link_repositorio:focus {
  font-size: 1em;
  text-decoration: none;
  color: green;
}

.botao-topo {
  padding: 0;
  display: block;
  margin-top: 50px;
  margin-bottom: 0;
}

.botao-topo:hover, .botao-topo:focus {
  text-decoration: none;
  color: green;
}